body {
  background-color: #353535;
  margin: 0%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.4s linear;
}

h1 {
  font-size: 150px;
  font-weight: 600;
  color: rgba(240, 248, 255, 0.877);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 0px;
}

h4 {
  font-size: 50px;
  font-weight: 500;
  margin: 20px 0px 30px;
  color: rgba(240, 248, 255, 0.877);
}

.todo {
  width: 150px;
  border: rgb(233, 233, 233) 1.4px solid;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
  justify-content: center;
}

.showing {
  display: flex;
  justify-content: center;
}

input,
input:focus {
  margin-top: 20px;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  color: aliceblue;
}
input::placeholder {
  color: aliceblue;
}

.js-toDoForm {
  display: flex;
  justify-content: center;
}

.weather {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  color: whitesmoke;
  animation: fadeIn 0.4s linear;
}

.list-border {
  display: flex;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.411);
  border-radius: 10px;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 20px;
}

button,
button:focus {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font: bolder;
  outline-style: none;
}

.list-name {
  margin-top: 20px;
  padding: 0px 20px;
  font-size: 20px;
  font-weight: 500;
  color: aliceblue;
}

ul {
  padding: 10px;
  margin: 0px;
}

li {
  list-style: none;
  color: white;
  border-radius: 3px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.226);
}
